<!DOCTYPE html>
<html lang="en">
<head>
  <title>ToDo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Sigmar+One&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a style="font-size: 4em;" class="navbar-brand" href="{% url 'post_list' %}">ToDo</a>
          </div>
          <ul class="nav navbar-nav">
            <li style="font-size: 2em;"  class="active"><a href="{% url 'post_list' %}">Home</a></li style="font-size: 4em;">
            <li style="font-size: 2em;" ><a href="{% url 'post_new' %}">Add</a></li style="font-size: 4em;">
          </ul>
        </div>
      </nav>
  
<div class="container">
    {% block body_block %}
    {% endblock %}
</div>

</body>
</html>
