{% extends 'app/base.html' %}
{% block body_block %}

<div class="container" style="background-color: #a10546;font-family: Sigmar One;color: white;">
    <div class="card img-fluid" style="width:500px">
      <div class="card-img-overlay">
        <h4 class="card-title">Welcome to index page</h4>
        <p class="card-text">{{text}}</p>
        <a href="#" class="btn btn-primary">Click here to read</a>
        <a href="#" class="btn btn-primary">Remove</a>
      </div>
    </div>
  </div>

{% endblock %}